<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <section class="container">
      <article class="card">
        <div class="img-wrapper">
          <img src="./food.jpeg" alt="food" />
        </div>
        <h4 class="header">Mediterranean cuisine</h4>
        <p class="description">
          The culinary heritage of the Mediterranean region reflects the unique
          ingredients, techniques, and traditions brought by different cultures
          throughout history. This extends from the ancient Greeks and Romans to
          the Phoenicians and Arabs, who have all contributed to such rich and
          varied cuisine.
        </p>
        <div class="date-wrapper">
          <p>Published:</p>
          <p>March 20, 2020</p>
        </div>
        <button class="more-button">More Info</button>
      </article>
    </section>
  </body>
</html>
